.aCard {
  display: inline-block;
  text-align: center;
  width: 64px;
  font-size: 90%;
  padding: 5px 0;
}

.isGreyscale {
  filter: grayscale(1);
}

.overflow80 {
  font-size: .8em;
}

.ability-caption {
  white-space: nowrap;
}

.hasOverflow {
  font-size: 75%;
}

.hasOverflow .tooltiptext {
  font-size: 125%;
}
