.cell {
  display: flex;
  flex-wrap: wrap;
}

.aCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 64px;
  font-size: 90%;
  padding: 5px 0;
}

.ability-caption {
  white-space: nowrap;
}

.isGreyscale {
  filter: grayscale(1);
}

.overflow80 {
  font-size: .8em;
}

.hasStar.overflow80-with-note {
  font-size: .8em;
}
.overflow90 {
  font-size: .9em;
}

.hasStar.overflow90-with-note {
  font-size: .9em;
}

.hasOverflow {
  font-size: 75%;
}

.hasOverflow .tooltiptext {
  font-size: 125%;
}

/* Tooltips */
.has-note {
  position: relative;
  display: inline-block;
}

.has-note .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #252525;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -120px;
}

.has-note:hover .tooltiptext {
  visibility: visible;
}