.dropdown {
    position: relative;
}
/*
    background-color: var(--accent-2);
    color: var(--accent-2-fontcolor);
*/

.toggle {
    background-color: var(--accent-2);
    color: var(--accent-2-fontcolor);
}

.toggle:hover{
    filter: brightness(120%);
}
.options {
    position: absolute;
    top: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    border-radius: 5px;
    background-color: var(--accent-2);
    color: var(--accent-2-fontcolor);
}

.options a {
    background-color: var(--accent-2);
    padding: 0.6em 1.2em;
    /*width: 100%;*/
    text-align: left;
    border-radius: 0;
    margin: 1px 0;
    color: var(--accent-2-fontcolor);
}

.dropoption:hover {
    filter: brightness(120%);
}

.dropoption.disabled {
    color: rgba(0, 0, 0, 0.25);
}

.options a:first-child {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.options a:last-child {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

svg {
    padding-left: 8px;
    height: 1em;
    width: 1em;
    display: inline-block;
}