.footer-divider {
  margin-top: 80px;
  margin-bottom: 30px;
  border-color: var(--border-light-color);
}

footer {
  padding-bottom: 100px;
  background-color: var(--panel-bg-color);
}

.footer-content {
  display: flex;
  padding-left: 50px;
}

footer .right {
  margin-left: auto;
  margin-right: 50px;
}