.masthead {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 25px;
}
.masthead img{
    height: 45px;
    width: 45px;
}

.masthead h3 {
    margin: 0;
}

.header-content {
    margin:  0px 50px;
    display: flex;
}

.header-selection {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.header-selection button {
    width: 150px;
    height: 50px;
}

header hr{
    margin: 0;
}