.nav > button {
  background-color: var(--accent-2);
  opacity: 0.9;
  color: var(--accent-2-fontcolor);
  height: 50px;
  border: var(--border-light-color) 2px solid;
}

.nav > button:hover {
    /*background-color: rgb(28, 61, 120, 1);*/
    border: #EBE6C1 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }

.nav {
    /*height: 50px;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  .nav > button {
    /* flex: 1 1 180px;
    width: 100%; */
  }