.nav > button {
    /*opacity: 80%;*/
    background-color: rgb(28, 61, 120, 0.9);
    color: white;
    border: none;
}

.nav > button:hover {
    background-color: rgb(13, 28, 54);
  }

.nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  .nav > button {
    /* flex: 1 1 180px;
    width: 100%; */
  }