.scrollTop {
    position: fixed;
    right: 50px;
    padding: 0;
    background-color: transparent;

    &:hover {
        transform: scale(1.1);
        filter: brightness(120%);
    }
}

@media (min-width: 720px){
    .scrollTop {
        bottom: 90px;
    }
}

@media (max-width: 710px){
    .scrollTop {
        bottom: 140px;
    }
}

svg {
    stroke: var(--accent-2);
    margin: auto;
}

.scrollTop svg {
    height: 60px;
    width: 60px;
}