.selectors {
    position: relative;
    max-width: 1282px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  fieldset {
    border-radius: .25rem;
    border-color: var(--border-light-color);
    background-color: var(--panel-bg-color);
  }

  legend {
    margin: auto;
    font-size: 1.4rem;
    padding: 0 8px;
  }
  /* 
.selectors::after {
    position: absolute;
    border-radius: 25px;
    inset: 0;
    background: #FFFFFF;
    content: '';
    opacity: 0%;
    pointer-events: none;
} */
  
  /* role menu */
.container.mits {
  /* display: grid;
  grid-template-columns: 650px 600px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.container.mits .left {
  flex-grow: 1;
}
.container.mits .right {
  flex-grow: 1;
}
  .menu.roles{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
  }
  .container.roles{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    align-items: center;
  }
  .roles > .chip > button {
    width: 150px;
    height: 50px;
    padding: 5px 5px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .roles > .chip > button:hover {
    border: #EBE6C1 3px solid;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }
  
  .tanks > .chip > button {
    border-color: #2D3A80;
    border-width: 3px;
    color: white;
    background-color: var(--main-bg-color);
  }
  .tanks > .chip.active > button {
    background-color: #545E99;
  }
  .healers > .chip > button {
    border-color: #346624;
    border-width: 3px;
    color: white;
    /* background-color: #548046; */
    background-color: var(--main-bg-color);
  }
  .healers > .chip.active > button {
    background-color: #548046
  }
  
  .dps > .chip > button {
    border-color: #732828;
    border-width: 3px;
    color: white;
    /* background-color: #8C4D4D; */
    background-color: var(--main-bg-color);
  }
  .dps > .chip.active > button {
    background-color: #8C4D4D;
  }
  
  .check, .descriptor, .icon {
    text-align: center;
    margin: auto;
  }
  
  /* Tankbusters menu */
  .menu.tanks {
    /*Padding is needed to aligns tanks with the roles since tanks don't
    have a select/deselect all checkbox*/
    padding-top: 24px; 
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 300px 300px;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    justify-content: center;
    /* align-content: center; */
    justify-items: center;
    align-items: center;
  }
  
  .tankpair.chip {
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    /* margin: auto; */
    /* width: 300px; */
  }
  
  .tankpair > button {
    width: 145px;
    height: 50px;
    display: inline-grid;
    grid-template-columns: 35px 35px 35px;
  }
  
  .tankpair > button.left {
    padding: 0;
    justify-content: center;
  }
  .tankpair > button.left.active{
    background-color: #545E99;
  }
  .tankpair > button.right {
    padding: 0;
    justify-content: center;
  }
  .tankpair > button.right.active {
    background-color: #545E99;
  }
  
  img.icon{
    height: 28px;
    width: 28px;
  }
  
  button.left{
    border-radius: 25px 0 0 25px;
  }
  
  button.left:hover {
    border: #EBE6C1 3px solid;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }
  
  button.right{
    border-radius: 0 25px 25px 0;
  }
  
  button.right:hover {
    border: #EBE6C1 3px solid;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }
  
  /* Extra menu */
  .extra-menu {
    /*display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-auto-rows: 150px;
    align-items: center;*/
    max-width: 1282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .extra-chip > button {
    width: 110px;
    height: 140px;
    background-color: var(--panel-bg-color);
    border: 1px solid var(--border-color);
    color: white;
    display: grid;
    grid-template-rows: 80px 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .extra-chip > button > .text {
    align-self: start;
  }
  
  .extra-chip-button:hover .extra-icon {
    border: #EBE6C1 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }
  
.extra-chip {
    position: relative;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
.noDataOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.noDataOverlay > .text {
    background-color: var(--accent-2);
    opacity: 0.9;
    color: var(--accent-2-fontcolor);
    border-radius: 15px;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 1;
}





  /* encounter menu */
  .container.encounter {
    max-width: 1282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*display: grid;
    grid-template-columns: 427px 427px 427px;*/
  }
  
  .container.encounter > button{
    background-color: #212121;
    padding: 0;
  }
  
  .container.encounter > button {
    border: none;
  }
  /* REMOVE after adding semi transparent encounter image  */
  /* .container.encounter > button.inactive{
    opacity: 35%;
  } */
  
  .encounter-img-container {
    position: relative;
  }
  
  .encounter-img{
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    /*transition: .5s ease;
    opacity: 1;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .encounter-img-container:hover .encounter-img {
    opacity: 0.3;
  }
  
  .encounter-img-container:hover .middle {
    opacity: 1;
  }
  
  .middle > .text {
    background-color: #630330;/*#1c3d78;*/
    border-radius: .5rem;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
  }
  .encounter-img-container:hover .middle > .text {
    border: #EBE6C1 3px solid;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px 5px #ebe6c12c;
  }

  /* Mitigation Plan menu */
  .container.plan {
    min-height: 80px;
  }