.mitigation-sheet {
  padding-left: 50px;
  padding-right: 50px;
}

.phase-header {
    border: 2px solid var(--border-light-color);
    font-size: 32px;
    padding: 10px;
    text-align: center;
    margin: 32px 0px;
  }
  .section-header {
    font-size: 32px;
    text-align: center;
    margin: 32px 0px;
    /*width: 1255px;*/
  }
  
  table {
    table-layout: fixed;
    /*width: 100%;*/
    border-collapse: collapse;
    /*margin: 0 50px;*/
  }
  
  .T1, .T2 {
    min-width: 128px;
  }
  
  .SCH, .SGE, 
  .WARGNB_WAR, .WARGNB_GNB, .WARPLD_WAR, .WARPLD_PLD, .WARDRK_WAR, .WARDRK_DRK,
  .GNBDRK_GNB, .GNBDRK_DRK, .GNBPLD_GNB, .GNBPLD_PLD, 
  .PLDDRK_PLD, .PLDDRK_DRK, .PLDGNB_PLD, .PLDGNB_GNB,
  .t1, .t2 {
    min-width: 196px;
  }
  
  .WHM, .AST {
    min-width: 128px;
  }
  
  .M1, .M2, .PRange, .Caster, .time, .BRD, .RDM, .MCH, .PLD, .MNK, .CASTER2 {
    min-width: 64px;
  }
  
  .name-header {
    min-width: 160px;
  }
  tr {
    height: 60px;
  }
  .row-header{
    text-align: left;
  }
  
  .time-td{
    text-align: center;
  }

  /* Table */
  div.cell {
    text-align: left;
  }
  
  td:nth-child(odd) {
    background-color: var(--panel-bg-color);
  }
